/* This is property for the h1 tag on both pages */
h1 {
  text-align: left;
  font-size: 34px;
  line-height: 48px;
  margin: 0;
  color: #11913c;
  box-shadow: 10px 5px 10px 5px #7c181c;
}

/* This is the property for the nav bar */

.nav {
  margin: 0;
  font-size: 20;
  font-style: bold;
  line-height: 48px;
  font-weight: lighter;
  box-shadow: 10px 5px 10px 5px #7c181c;
}

/* This is the property for the nav */
.nav-link {
  list-style-type: none;
}

/* This is the property for the image on the fanpage */
.combs {
  max-width: 100%;
  display: Block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
}

/* This is the property for the video on the Fangpage */
.song {
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 50px;
}

/* This the property for the img tag on the life page */
.luke {
  max-width: 50%;
  display: Block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
}

/* This is the property for all the paragraphs */

.music {
  margin: auto;
  color: #f2b818;
  text-align: left;
}

/* This is the property for first two of the paragraphs  */

.life {
  border: 3px solid forestgreen;
  color: #f2b818;
  width: 30%;
  padding: 2em;
  margin: 10px;
  float: left;
}

/* This is the property for second two of the paragraphs  */

.career {
  border: 3px solid forestgreen;
  color: #f2b818;
  width: 30%;
  padding: 2em;
  margin: 10px;
  float: right;
}

/* .footer {
  border: 3px solid forestgreen;
  color: #f2b818;
  width: 30%;
  padding: 2em;
  margin: auto;
  margin-top: 250px;
  margin-right: 50px;
  float: right;
} */

/* .footer {
  border: 3px solid forestgreen;
  color: #f2b818;
  width: 30%;
  padding: 2em;
  margin: auto;
  left: 0
  bottom: 0

 
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #f2b818;
}

.b {
  text-decoration-color: forestgreen;
}
