img {
  max-width: 100%;
  display: Block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
}

h1 {
  text-align: left;
  font-size: 34px;
  line-height: 48px;
  margin: 0;
  color: #11913c;
  box-shadow: 10px 5px 10px 5px #7c181c;
}

h2 {
  text-align: left;
  font-size: 34px;
  line-height: 48px;
  margin: 0;
}

.song {
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 50px;
}

/* this is the styling for the paragraphs */

.life {
  border: 3px solid forestgreen;
  color: #f2b818;
  width: 30%;
  padding: 2em;
  margin: 10px;
  float: left;
}

.career {
  border: 3px solid forestgreen;
  color: #f2b818;
  width: 30%;
  padding: 2em;
  margin: 10px;
  float: right;
}

.music {
  margin: auto;
  color: #f2b818;
  text-align: left;
}

.nav {
  margin: 0;
  font-size: 20;
  font-style: bold;
  line-height: 48px;
  font-weight: lighter;
  box-shadow: 10px 5px 10px 5px #7c181c;
}

.nav-link {
  list-style-type: none;
}
