/* This is the property for the image on the fanpage */
img {
  max-width: 100%;
  display: Block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
}

/* This is property for the h1 tag on both pages */
h1 {
  text-align: left;
  font-size: 34px;
  line-height: 48px;
  margin: 0;
  color: #11913c;
  box-shadow: 10px 5px 10px 5px #7c181c;
}

/* This is the property for the h2 tag which no longer exsist since the site became two pages */
/* h2 {
  text-align: left;
  font-size: 34px;
  line-height: 48px;
  margin: 0;
} */

/* This is the property for the video on the Fangpage */
.song {
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 50px;
}

/* This is the property for first two of the paragraphs  */

.life {
  border: 3px solid forestgreen;
  color: #f2b818;
  width: 30%;
  padding: 2em;
  margin: 10px;
  float: left;
}

/* This is the property for second two of the paragraphs  */

.career {
  border: 3px solid forestgreen;
  color: #f2b818;
  width: 30%;
  padding: 2em;
  margin: 10px;
  float: right;
}

/* This is the property for all the paragraphs */

.music {
  margin: auto;
  color: #f2b818;
  text-align: left;
}
/* This is the property for the nav bar */

.nav {
  margin: 0;
  font-size: 20;
  font-style: bold;
  line-height: 48px;
  font-weight: lighter;
  box-shadow: 10px 5px 10px 5px #7c181c;
}

/* This is the property for the nav */
.nav-link {
  list-style-type: none;
}
